<main class="page__main">
  <form action="#" class="form js-form">
    <input
      class="form__input js-searchInput"
      type="text"
      name="search"
      id="search"
      placeholder="Ej: Juego de tronos"
    />
    <input type="button" value="Search" class="form__button js-searchButton" />
  </form>

  <div class="container">
    <section class="section__fav">
      <h2 class="section__fav-title">Mis series favoritas</h2>
      <ul class="main__list-favorite"></ul>
      <input type="button" value="Reset" class="section__fav-reset" />
    </section>
    <ul class="main__list js-main-list"></ul>
  </div>
</main>
